@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inconsolata";
}

body {
    color: #000;
    background-color: #f8f8f8;
}

.subscribe {
    background-image: url("./assets/country.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.glass {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

.countrycard:nth-child(even) {
    align-self: flex-end;
}

.countryblock {
    justify-content: flex-start;
    align-items: flex-end;
    transform: translateY(75px);
}

.highlighter {
    border-bottom: 2px solid #97c1a9;
}

.countrycontent {
    background-color: #fff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countrycard:nth-child(even) .countryblock {
    align-items: flex-start;
    justify-content: flex-end;
    transform: translateY(-75px);
}

.countrycard:nth-child(even) .countryblock .highlighter {
    border-top: 2px solid #97c1a9;
}

.shot {
    width: 300px;
    height: 350px;
    object-fit: cover;
    filter: brightness(0.85);
}

.shot:nth-child(1) {
    align-self: flex-start;
    transform: translateX(100px) translateY(50px);
}

.shot:nth-child(2) {
    transform: translateY(200px) translateX(125px);
}

.shot:nth-child(3) {
    align-self: flex-start;
    transform: translateX(-100px);
}

.gallery {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/gallery.jpg");
    background-repeat: no-repeat;
}

.resort {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("./assets/resort.jpg");
}

.absolute-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.button {
    padding: 0.5rem 2.5rem;
    color: #fff;
    border-radius: 3rem;
    width: fit-content;
    background-color: #97c1a9;
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.button::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 45%;
    left: 10%;
}

.button::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 45%;
    right: 10%;
}

.column-container {
    width: 100%;
    columns: 3 325px;
    column-gap: 1rem;
    break-inside: avoid;
}

.caret {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97c1a9;
    border-radius: 50%;
}

.about {
    background-image: url("./assets/island.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.move-up {
    transform: translateY(-60px);
}

.input {
    padding: 1rem;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.input::placeholder {
    color: #000;
}

.textarea::placeholder {
    color: #000;
}

.textarea {
    padding: 1rem;
    width: 300px;
    border-radius: 0.5rem;
    resize: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.clippath-br {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%)
}

.clippath-bl {
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            40px 100%,
            0 calc(100% - 40px));
}

.who-we {
    display: flex;
    min-height: 100vh;
}

.what-we {
    display: flex;
}

.who-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.who-box {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.what-box {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.polos {
    object-fit: cover;
    border-radius: 1rem;
}

.polos:nth-child(1) {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 0;
}

.polos:nth-child(2) {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
}

.polos:nth-child(3) {
    width: 200px;
    height: 250px;
    bottom: 0;
    position: absolute;
}

.flips:nth-child(1) {
    width: 300px;
    height: 350px;
}

.flips:nth-child(2) {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.who-right {
    flex-basis: 50%;
}

.what-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.work {
    width: 100%;
    display: flex;
}

.work-left {
    flex-basis: 50%;
}

.work-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clipbox {}

.blurred {}

.section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.tail {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
}

.block {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    background-color: #97c1a9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscriber {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.25rem 1rem;
    border-radius: 3rem;
    background-color: white;
}

.subscriber input {
    position: absolute;
    left: 1rem;
    width: 100%;
    background: transparent;
    top: 0;
    height: 100%;
}

.action img {
    width: 20px;
    height: 20px;
}

.text {
    padding: 2rem;
    overflow: hidden;
    position: relative;
}

.menu {}

.nav {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.close {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
}

.open {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.open img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.close svg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    position: sticky;
    top: 1rem;
    width: 90%;
    filter: brightness(0.75);
}

.card:nth-child(2) {
    width: 95%;
    top: 2rem;
}

.card:nth-child(3) {
    width: 100%;
}

.contact {
    display: flex;
    width: 100%;
}

.contactLeft {
    flex: 4;
    display: flex;
    justify-content: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
}

.contact-box h5 {
    font-size: 1.1em;
}

.contact-box h5 span {
    color: rgba(0, 0, 0, 0.75);
}

.contactRight {
    flex: 6;
    display: flex;
    justify-content: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.contactForm input {
    background-color: #fff;
    border-bottom: 3px solid #f0f2f5;
    padding: 1.5em;
}

.contactForm textarea {
    background-color: #fff;
    padding: 1.5em;
    border-bottom: 3px solid #f0f2f5;
}

.contactForm button {
    align-self: flex-end;
    padding: .75em 2em;
    background-color: #000;
    font-size: 1.25em;
    color: #fff;
}


@media (max-width:1100px) {
    .shot {
        width: 250px;
        height: 300px;
        object-fit: cover;
        filter: brightness(0.85);
    }
}

@media (max-width:1000px) {
    .who-we {
        flex-direction: column;
    }

    .what-we {
        flex-direction: column-reverse;
        gap: 3rem;
        overflow: hidden;
        padding-top: 1rem;
    }

    .work-left p {
        width: 100%;
        padding: 0 2rem;
    }

    .contact {
        flex-direction: column;
        gap: 3em;
        align-items: flex-start;
        padding: 0 2rem;
    }
}

@media (max-width:900px) {
    .tail {
        width: 90%;
    }

    .shot:nth-child(1) {
        transform: translateX(50px) translateY(50px);
    }

    .shot:nth-child(2) {
        transform: translateY(200px) translateX(50px);
    }

    .shot:nth-child(3) {
        transform: translateX(-50px);
    }
}

@media (max-width:800px) {
    .block {
        gap: 2rem;
    }

    .contactForm {
        width: 400px;
    }
}

@media (max-width:768px) {
    .box {
        width: 100%;
        height: 100%;
    }

    .clipbox {
        clip-path: polygon(0 0,
                100% 0,
                100% 100%,
                40px 100%,
                0 calc(100% - 40px));
    }

    .blurred {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px);
        border-radius: 12px;
        padding: 2rem;
    }

    .shot {
        width: 150px;
        height: 200px;
    }
}

@media (max-width:700px) {
    .work {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .work-left {
        position: absolute;
    }

    .work-right {
        position: absolute;
        z-index: -1;
        right: 0;
        width: 90%;
        height: 100%;
    }

    .tail {
        width: 100%;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        transition: 1s ease;
        z-index: 999999;
    }

    .nav {
        flex-direction: column;
        gap: 2rem;
    }

    .close {
        display: block;
    }

    .open {
        display: block;
    }
}

@media (max-width:640px) {

    .who-left {
        flex-basis: unset;
    }

    .who-box {
        width: 90%;
    }

    .what-box {
        height: 500px;
    }

    .countrycontent {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:550px) {
    .flips:nth-child(1) {
        width: 85%;
    }

    .flips:nth-child(2) {
        width: 75%;
    }

    .polos:nth-child(1) {
        width: 80%;
    }

    .polos:nth-child(2) {
        width: 60%;
    }

    .polos:nth-child(3) {
        width: 200px;
        height: 200px;
    }

    .contactRight {
        width: 100%;
    }

    .contactForm {
        width: 100%;
    }
}

@media (max-width:500px) {
    .blurred {
        width: 300px;
    }

    .input {
        width: 100%;
    }

    .textarea {
        width: 100%;
    }

    .shot:nth-child(1) {
        transform: translateX(25px) translateY(50px);
    }

    .shot:nth-child(2) {
        position: absolute;
        left: 30%;
    }

    .shot:nth-child(3) {
        transform: translateX(-25px);
    }

    .contact {
        padding: 0 1rem;
    }
}